@import 'tailwindcss';
@config "../../tailwind.config.ts";

/* SearchSideBar Transitions */
.sidebar-transition-enter {
  transform: translateX(100%);
}
.sidebar-transition-enter-active {
  transform: translateX(0);
  transition: transform 100ms ease-in-out;
}
.sidebar-transition-exit {
  transform: translateX(0);
}
.sidebar-transition-exit-active {
  transform: translateX(100%);
  transition: transform 100ms ease-in-out;
}

.bottom-sheet-transition-enter {
  transform: translateY(100%);
}
.bottom-sheet-transition-enter-active {
  transform: translateY(0);
  transition: transform 100ms ease-in-out;
}
.bottom-sheet-transition-exit {
  transform: translateY(0);
}
.bottom-sheet-transition-exit-active {
  transform: translateY(100%);
  transition: transform 100ms ease-in-out;
}

body {
  margin: 0;
}

:root {
  background-color: #f9fafb;
}

.toast-enter {
  opacity: 0;
  transform: translateX(100%);
}
.toast-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 300ms,
    transform 300ms;
}
.toast-move {
  transform: translateY(100%);
  transition: transform 300ms;
}

.seat-change-enter {
  background-color: transparent;
}
.seat-change-enter-active {
  background-color: #eff6ff;
  transition: background-color 500ms ease-in-out;
}
.seat-change-exit {
  background-color: #eff6ff;
}
.seat-change-exit-active {
  background-color: transparent;
  transition: background-color 500ms ease-in-out;
}

.row-change-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.row-change-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-in-out;
}

.row-change-exit {
  opacity: 1;
  transform: translateY(0);
}
.row-change-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: all 300ms ease-in-out;
}

@keyframes gradientBlink {
  0%,
  100% {
    background-position: 0 50%;
    opacity: 1;
  }
  50% {
    background-position: 100% 50%;
  }
}

.bg-gradient-animation {
  background: linear-gradient(270deg, #ef4444, #3b82f6, #ef4444);
  background-size: 600% 600%;
  animation: gradientBlink 3s ease infinite;
  color: #ffffff;
  font-weight: 600;
}

@layer base {
  @font-face {
    font-family: 'Pretendard';
    src: url('/font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Pretendard';
    src: url('/font/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Pretendard';
    src: url('/font/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}
